body {
  background-image: url("images/evening_sky.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  color: Black;
  font-family: 'Courier New', Courier, monospace;
}

a:link {
  color: Black;
}

a:visited {
  color: Black;
}

a:hover {
  color: whitesmoke;
}

a:active {
  color: #3e0037;
}