body {
  background-image: url("images/evening_sky.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  color: Black;
  font-family: 'Courier New', Courier, monospace, arial;
}

a:link {
  color: Black;
  font-weight: bold;
}

a:visited {
  color: Black;
}

a:hover {
  color: whitesmoke;
}

a:active {
  color: #3e0037;
}

ul
{
  width: fit-content;
  height: fit-content;
  padding: 1rem; 
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(5px);
}