body {
  background-image: url("images/evening_sky.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  color: Black;
  font-family: 'Courier New', Courier, monospace, arial;
}

a:link {
  color: Black;
  font-weight: bold;
}

a:visited {
  color: Black;
}

a:hover {
  color: whitesmoke;
}

a:active {
  color: #3e0037;
}

.glass {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);

  float: left;
  margin-right: 30px;
  margin-top: 10px;
  
  backdrop-filter: blur(5px);
}

.glass2 {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem; 
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);

  float: left;
  margin-top: 10px;
  
  backdrop-filter: blur(5px);
}
